<?xml version="1.0" ?>

<container xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns="http://symfony.com/schema/dic/services"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <parameters>

        <parameter key="logboard.config_default" type="collection">

            <parameter key="all_logs" type="collection">
                <parameter key="title">All logs</parameter>
                <parameter key="src">file</parameter>
                <parameter key="data">%kernel.root_dir%/logs/dev.log</parameter>
                <parameter key="exclude">file_storage</parameter>
                <parameter key="engine">file_storage</parameter>
                <parameter key="decompiler">pattern_matcher</parameter>
                <parameter key="menu" type="collection">

                    <parameter key="date" type="collection">
                        <parameter key="split">/^\[([0-9]{4}-[[0-9]{2}-[[0-9]{2})\s[0-9]{2}:[0-9]{2}:[0-9]{2}\]\s[a-z]*\.[a-zA-Z]*.\s(.*)$/</parameter>
                        <parameter key="title">Date</parameter>
                    </parameter>

                    <parameter key="priority" type="collection">
                        <parameter key="split">/^\[[0-9]{4}-[[0-9]{2}-[[0-9]{2}\s[0-9]{2}:[0-9]{2}:[0-9]{2}\]\s[a-z]*\.([a-zA-Z]*).\s(.*)$/</parameter>
                        <parameter key="title">Priority</parameter>
                    </parameter>

                    <parameter key="Events" type="collection">
                        <parameter key="split">/(kernel.[a-zA-Z]*).*(to.*)/</parameter>
                        <parameter key="title">Kernel events</parameter>
                    </parameter>

                </parameter>
            </parameter>


            <parameter key="php" type="collection">
                <parameter key="title">PHP logs</parameter>
                <parameter key="src">file</parameter>
                <parameter key="data">C:\xampp\php\logs\php_error_log</parameter>
                <parameter key="exclude">file_storage</parameter>
                <parameter key="engine">file_storage</parameter>
                <parameter key="decompiler">pattern_matcher</parameter>
                <parameter key="menu" type="collection">

                    <parameter key="php_date" type="collection">
                        <parameter key="split">/\[([0-9]{2}-[a-zA-Z]{3}-[0-9]{4})\s[0-9]{2}:[0-9]{2}:[0-9]{2}\s[A-Z]*](.*)/</parameter>
                        <parameter key="title">Date</parameter>
                    </parameter>

                </parameter>
            </parameter>

        </parameter>

    </parameters>
</container>
