{% if collector.counterrors or collector.countdeprecations %}
    {% set icon %}
    <img width="15" height="28" alt="Logs"
         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAYAAABoMT8aAAAA4klEQVQ4y2P4//8/AyWYYXgYwOPp6Xnc3t7+P7EYpB6k7+zZs2ADNEjRjIwDAgKWgAywIUfz8+fPVzg7O/8AGeCATQEQnAfi/SAah/wcV1dXvAYUgORANA75ehcXl+/4DHAABRIe+ZrhbgAhTHsDiEgHBA0glA6GfSDiw5mZma+A+sphBlhVVFQ88vHx+Xfu3Ll7QP5haOjjwtuAuGHv3r3NIMNABqh8+/atsaur666vr+9XUlwSHx//AGQANxCbAnEWyGQicRMQ9wBxIQM0qjiBWAFqkB00/glhayBWHwb1AgB38EJsUtxtWwAAAABJRU5ErkJggg==">
    {% if collector.counterrors %}
        {% set status_color = "red" %}
    {% else %}
        {% set status_color = "yellow" %}
    {% endif %}
    {% set error_count = collector.counterrors + collector.countdeprecations %}
    <span class="sf-toolbar-status sf-toolbar-status-{{ status_color }}">{{ error_count }}</span>
    {% endset %}
    {% set text %}
    {% if collector.counterrors %}
        <div class="sf-toolbar-info-piece">
            <b>Exception</b>
            <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.counterrors }}</span>
        </div>
    {% endif %}
    {% if collector.countdeprecations %}
        <div class="sf-toolbar-info-piece">
            <b>Deprecated Calls</b>
            <span class="sf-toolbar-status sf-toolbar-status-yellow">{{ collector.countdeprecations }}</span>
        </div>
    {% endif %}
    {% endset %}
    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endif %}